@import url('https://fonts.googleapis.com/css?family=Orbitron');

.gamepic {
    width: 50px;
    height: 50px;
}

table {
    margin-left: auto;
    margin-right: auto;
}

#Upstreamtitle {
    font-family: "Arial";
    text-align: center;
}

th {
    padding: 10px;
}

.game-row {
    transition: opacity 0.5s ease, max-height 0.5s ease, padding 0.5s ease, margin 0.5s ease;
    opacity: 1;
    max-height: 100px;
    text-align: center;
}

.game-row.hidden {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    padding: 0;
    margin: 0;
    border: none;
    display: none;
}

#footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: inherit;
}

.gameheader {
    text-align: center;
}

.heading-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.heading-title {
    flex-grow: 1;
    text-align: center;
  }

.small-dropdown {
    max-width: 200px;
    padding: 5px;
}

.small-button {
    padding: 5px 10px;
    font-size: 0.8rem;
    margin: 0;
  }